#main {
    background-image: url("https://s3.us-east-1.amazonaws.com/dexerto-assets-production-cbbdf288/uploads/2020/05/13050703/mirage-buffs-nice.png");
}
#img {
    width: auto;
    height: auto;
}
